body {
  margin: 0;
  width: 100vw;
  overflow-y: hidden;
}

.outer {
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
}

.outer::-webkit-scrollbar {
  display: none;
}

.inner {
  height: 100vh;
  width: 100%;
}

.inner > div {
  height: 100vh;
  /* border: 1px solid gray; */
}

.divider {
  width: 100%;
  height: 5px;
  background-color: gray;
}
